@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Poppins", sans-serif;
	margin: 0;
	box-sizing: border-box;
}

.date-range-picker * {
	font-family: "Poppins", sans-serif !important;
	z-index: 10;
}

.date-range-picker label,
input {
	border-radius: 0.5rem;
}

.date-input {
	line-height: 1.25rem;
	height: 48px;
}

@media only screen and (max-width: 640px) {
	.date-range-picker > div > div {
		grid-template-columns: none;
		grid-template-rows: 1fr 24px 1fr;
	}

	.date-input {
		width: 235px;
	}
}

@media (min-width: 768px) {
	.grid-equal-col {
		grid-template-columns: 1fr 1fr;
	}
}

.selected-img > span {
	border: 10px solid !important;
	border-width: 10px !important;
	border-image-source: linear-gradient(to left, #06b6d4, #3b82f6) !important;
	border-image-slice: 1 !important;
	border-style: solid;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
	min-height: 100vh;
}
